#redLeader {
  background-color: red;
  height: 100px;
  width: 100px;
  padding: 10px;
}

#blueBaron {
  background-color: blue;
  height: 100px;
  width: 100px;
  padding: 10px;
}

#greenGoblin {
  background-color: green;
  height: 100px;
  width: 100px;
  padding: 10px;
}

#yellowFive {
  background-color: yellow;
  height: 100px;
  width: 100px;
  padding: 10px;
}
